@import 'boxicons/css/boxicons.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animation-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.animate-spin {
    animation: animation-spin 2s linear infinite;
}